<section class="hero is-medium">
  <div class="hero-head">
    <nav class="level">
      <div class="level-item has-text-centered">
        <a class="button is-large" (click)="downloadScript()">
            <span class="icon is-medium">
              <i class="fa fa-download"></i>
            </span>
            <span>Download script</span>
          </a>
      </div>
      <div class="level-item has-text-centered" *ngIf="false">
          <a class="button is-large" (click)="createAnonymousGist()">
              <span class="icon is-medium">
                  <i class="fa fa-3 fa-github"></i>
              </span>
              <span>Share as Gist</span>
          </a>
      </div>
    </nav>
  </div>
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="field">
        <div class="control">
          <input [(ngModel)]="app.filename" class="input is-beet is-medium" type="text" placeholder="Filename (Default: repy-script.sh)" autofocus>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <textarea [(ngModel)]="app.script" class="textarea is-beet is-medium" type="text" placeholder="Primary textarea" rows="20"></textarea>
        </div>
      </div>
    </div>
  </div>
</section>
