*:not(i) {
  font-family: monospace !important;
}

.hero-body {
  padding-bottom: 4rem !important;
  padding-top: 5rem !important;
}

.title {
  color: #6c0f2cff !important;
  cursor: default;
}

.subtitle {
  color: #6c0f2cff !important;
  cursor: default;
}

.button {
  width: 300px;
  margin-top: 70px;
}

.button.is-primary {
  background-color: #95153fff;
  border-color: transparent;
  color: #fff;
}

.button.is-primary:hover {
  background-color: #4e0b20ff;
  border-color: transparent;
  color: #fff;
}

.button.is-info {
  background-color: #748e1cff;
  border-color: transparent;
  color: #fff;
}

.button.is-info:hover {
  background-color: #3c4a0eff;
  border-color: transparent;
  color: #fff;
}

.card {
  margin: 25px 300px 25px 300px;
}

.card-header-title {
    color: #6c0f2cff !important;
    cursor: default;
}
