<section class="hero is-medium">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-size-1 has-text-grey-dark">
           Do it once, use it always
      </h1>
      <h2 class="subtitle">
        Script generator for setting-up environments
      </h2>
      <a class="button is-large is-primary" [routerLink]="['/packages']">
          <span>Getting Started</span>
        </a>
      <a class="button is-large is-info" [routerLink]="['/docs']">
        <span class="icon is-medium">
          <i class="fa fa-book"></i>
        </span>
        <span>Documentation</span>
      </a>
    </div>
  </div>
</section>
